# Gemini API Key
GEMINI_API_KEY=AQ.Ab8RN6K-c_wXDpg4MHyIoLAiOhJ5rw4ZRuUff0M4RAza-sg1cw

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Application URL (for Stripe and Razorpay redirects)
APP_URL=http://localhost:5000
